aiohttp
jinja2
# Pinning to <4.0 due to compatibility with the 3.1 controller version
juju<4.0
pytest
pytest-operator
pytest-timeout
pyyaml
requests
# Pin to >=0.4.0 because the reusable test infrastructure is on that version and above
# Pin charmed-kubeflow-chisme due to
# https://github.com/canonical/charmed-kubeflow-chisme/issues/155
charmed-kubeflow-chisme>=0.4.11
