# reusable workflow triggered by other actions
name: CI

on:
  workflow_call:
    secrets:
      CHARMCRAFT_CREDENTIALS:
        required: true

jobs:
  lib-check:
    name: Check libraries
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/_quality-checks.yaml@main
    secrets: inherit
    with:
        charm-path: "."

  lint:
    name: Lint Check
    runs-on: ubuntu-20.04

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get install python3-pip tox

      - name: Lint code
        run: tox -e lint

  unit:
    name: Unit Test
    runs-on: ubuntu-20.04

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt-get install python3-pip tox

      - name: Run unit tests
        run: tox -e unit

  integration:
    name: Integration Tests
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: microk8s
          channel: 1.25-strict/stable
          juju-channel: 3.1/stable
          charmcraft-channel: latest/stable

      - name: Test
        run: sg snap_microk8s -c "tox -vve integration -- --model testing"

        # On failure, capture debugging resources
      - name: Get all
        run: kubectl get all -A
        if: failure()

      - name: Describe deployments
        run: kubectl describe deployments -A
        if: failure()

      - name: Describe replicasets
        run: kubectl describe replicasets -A
        if: failure()

      - name: Get juju status
        run: juju status
        if: failure()

      - name: Get oidc-gatekeeper workload logs
        run: kubectl logs --tail 100 -n testing -l"operator.juju.is/name=oidc-gatekeeper"
        if: failure()

      - name: Get dex-auth workload logs
        run: kubectl logs --tail 100 -n testing -l"operator.juju.is/name=dex-auth"
        if: failure()

      - name: Get istio-pilot workload logs
        run: kubectl logs --tail 100 -n testing -l"operator.juju.is/name=istio-pilot"
        if: failure()
